@using Sports_Marker.Web.Models
@model EnterGameViewModel

<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @@media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-5">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Register your team</h2>
            <form asp-controller="sm" asp-action="index" method="post">
              <!-- 2 column grid layout with text inputs for the first and last names -->
             @* <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">First name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name</label>
                  </div>
                </div>
              </div>*@

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input asp-for="Team" id="team-name" class="form-control" />
                <label class="fw-bold mb-5" asp-for="Team">Team Name</label>
                <span asp-validation-for="Team" class="text-danger"></span>
              </div>

              <!-- Password input -->
             @* <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Password</label>
              </div>*@

              <!-- Checkbox -->
            @*  <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  Subscribe to our newsletter
                </label>
              </div>*@

            <!-- Color Selector-->
                        <div class="mb-4">
                            
                            <br />
                            @*<div class="form-control">*@
                                @foreach (var color in Model.AvailableColors)
                                {
                                    <input type="radio" class="btn-check" asp-for="SelectedColor" id="@color.Name" value="@color.Id" autocomplete="off">
                                    <label style="font-size:12px" class="btn @color.CssClassName" for="@color.Name">@color.Name</label>
                                }
                                <br />
                                <span asp-validation-for="SelectedColor" class="text-danger"></span>
                                <label class="fw-bold mb-5">Team Color</label>
                            @*</div>*@
                        </div>
                        <br />
              <!-- Submit button -->
              <button onclick=" window.open('https://localhost:7243/SM/View/','_blank')" type="submit" formmethod="post" class="btn btn-primary btn-block mb-4">
                Enter Game
              </button>

          


              <!-- Register buttons -->
              @*<div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>*@
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://www.dropbox.com/s/4f0bl7tjb0vprld/football%20aesthetic.png?raw=1" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
    

